<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
=======
>>>>>>> 3016ab73dfacd6ef17a5712c44ad7e2bd246aa14

@tailwind base;
@tailwind components;
@tailwind utilities;

